@page
@model ConfirmationModel

<h1>Reservation Confirmation</h1>
<p>Thank you for your reservation!</p>
<!-- User Submited Data -->
<p>Details:</p>
<ul>
    <li>Car ID: @Model.CarId</li>
    <li>User Name: @Model.UserName</li>
    <li>Contact Info: @Model.ContactInfo</li>

</ul>
