@page
@model ReservationConfirmationModel

<h1>Reservation Confirmation</h1>
<p>Thank you for your reservation!</p>
<p>Details:</p>
<ul>
    <li>Car ID: @Model.CarId</li>
    <li>User Name: @Model.UserName</li>
    <li>Contact Info: @Model.ContactInfo</li>
</ul>
