@page
@model Yuvraj_FE_Part1.PlantNurseryInventory.Pages.IndexModel
@{
    ViewData["Title"] = "Plant Nursery Inventory Management System";
}

<h1>Welcome to Our Plant Nursery</h1>
<p>Owned by Your Name</p>
<p>Fictional Address: 1234 Green St, Garden City</p>